@{
    ViewBag.Title = "Home Page";
}

<br/>
<div class="jumbotron">
    <h1>Strona Główna</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lectus tellus, semper at massa tincidunt, pulvinar suscipit dolor. Morbi ac ex interdum, vulputate turpis non, elementum justo. In eu dui consequat, consectetur lorem nec, tincidunt tortor. Mauris id finibus metus. Maecenas a blandit lectus, quis sodales libero. Duis at pulvinar metus. Sed commodo, dolor sed fermentum aliquam, metus ante facilisis velit, eu varius ipsum est sollicitudin magna. Ut accumsan non odio ac dapibus. Aliquam erat volutpat. Curabitur in feugiat sapien, sit amet accumsan lorem. Nulla nec tortor dui. Curabitur et nibh eget mauris malesuada finibus a non lorem. Donec fringilla turpis sed magna feugiat sagittis.

Morbi iaculis in quam in porta. Praesent elementum volutpat velit ac laoreet. Phasellus aliquet condimentum leo non commodo. Sed at nibh tellus. Pellentesque vitae risus in libero viverra vulputate id sed ipsum. Fusce in viverra magna, sit amet dictum augue. Etiam commodo neque id nisi efficitur, id ullamcorper odio accumsan.
</p>
</div>

<br/>

<div class="jumbotron">
    <h1>Najpopularniejsze posty</h1>

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

